$background-color: #f0f0f0;

$pure-black: #000;
$black: #333;
$dark-gray: #666;
$gray: #999;
$silver: #c0c0c0;
$off-white: #f0f0f0;
$rhino: #bdbdbd;
$white: #fff;
$dim-gray: #696969;
$border-gray: #bfbfbf;
$gray: #e0e0e0;
$gray-disabled: #c0c0c0;
$gray-light: #f2f1f1;
$gray-wizard-line: #d8dce0;
$comment-dateTime: #000000;
$blue-icon: #4a9ecb;
$checkbox-bkg: #ffffff;

$border: #c2bfbe;
$border-light: #dad8d7;
$table-heading: #676665;

$yellow: #ffe600;
$yellow-shade: #998a00;
$yellow-alert: #fff8e1;

$tooltip-background: #fbef7f;

$green: #89c57a;
$green-shade: #527649;
$green-forest: #2b983d;
$green-light: #e8f5e9;

$red: #f04c3e;
$red-shade: #902d25;
$red-important-note: #da2a1d;

$danger: #ee5648;
$danger-light: #fdd9cb;
$red-light: #ffebee;

$orange: #ffcc80;

$turbo: #fee600;
$teal: #00a3ae;
$blue-light: #e3f2fd;
$blue-medium: #2c89b2;
$blue: #21a6e9;
$blue-yale: #326392;
$dark-blue: #43669c;
$purple: #91278f;

$bondie-blue: #02a4b0;

//  Buttons
$button-audit-border: #333333;

$button-primary: #ffe600;
$button-primary-border: #c0c0c0;
$button-primary-color: #333;

$button-secondary: #666;
$button-secondary-border: #333;
$button-secondary-color: #fff;

$button-default: #f0f0f0;
$button-default-border: #c2bfbe;
$button-default-color: #333;

$button-disabled-border: #c0c0c0;

$button-utility: #fff;
$button-utility-border-TL: #c0c0c0;
$button-utility-border-BR: #666;
$button-utility-border-hover-TL: #f0f0f0;
$button-utility-border-hover-BR: #f0f0f0;
$button-utility-color: #333;

$button-background: #f0f0f0;
$button-background-border-TL: #afafaf;
$button-background-border-BR: #afafaf;
$button-background-border-hover-TL: #bebebe;
$button-background-border-hover-BR: #bebebe;
$button-background-color: #666;

$button-datepicker-border: #cccccc;
$button-datepicker-color: #808080;

$react-multi-email-element: #e8e8e8;

$file-unseen-bullet: #4990e2;

$summary-verified: #2b983d;
$summary-verifiedStar: #f5dd02;
$summary-exception: #f04c3e;
$summary-inOCR: #3f48cc;
$summary-noPDF: #ff7f27;
